
/* Large desktops and laptops */
@media (min-width: 1200px) {
   *{ font-size: 14px;}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    *{font-size: 13px;}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    *{font-size: 12px;}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    *{font-size: 11px;}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    *{font-size: 10px;}
}

/* Iphone 5 */
@media (max-width: 320px) {
    *{font-size: 9px ;}
}



.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #00CED1;
    border-radius: 50px 0;
}

.header__body {
    max-width: 1380px;
    max-height: 200px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    background: #00CED1;
}

.header__logo {
    flex: 0 0 20px;
    owerflow: hidden;
    margin-left: 20px;
    margin-top: px;
}

.header__logo img {
    max-width: 220px;
}

.header__body nav {
    display: inline-block;
    margin-bottom: 3px;
}

.topnav {
    position: relative;
    padding: 10px 10px;
    margin: 0 20px;
    letter-spacing: 1px;
    cursor: pointer;}

.topnav a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 30px 20px;
}

.topnav a:hover {
   border-bottom: 3px solid #20B2AA;
}

.topnav .icon{
    display: none; 
}
@media screen and (max-width: 1010px){
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        display: block;
        float: right;
        font-size: 30px;
        padding: 0px 20px;
    }
}